<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mr.ncu.com.client">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FullTheme">
        <activity android:name=".SelectRoomActivity"></activity>
        <activity android:name=".RoomWayActivity" />
        <activity android:name=".ModeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".GameAIActivity" />
        <activity android:name=".PlayerNetActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".NetManager">
            <intent-filter>
                <action android:name="android.mr.ncu.com.client.NetManager"></action>
            </intent-filter>
        </service>
        <service android:name=".MusicManager">
            <intent-filter>
                <action android:name="android.mr.ncu.com.client.MusicManager"></action>
            </intent-filter>
        </service>
        <service android:name=".SoundManager">
            <intent-filter>
                <action android:name="android.mr.ncu.com.client.SoundManager"></action>
            </intent-filter>
        </service>
    </application>

</manifest>